{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block body %}
    <div class="row justify-content-center">
    <h1>Index to articles : </h1>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
            <th>Content</th>
            <th>Tag</th>
        </tr>
        </thead>
        <tbody>

        {% for article in articles %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ article.title }}</td>
                <td>
                    {{ article.category.name }}
                </td>
                <td>
                    {{ article.content }}
                </td>
                <td>{% for tag in article.tags %}
                {{ tag.name }},
                {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
    <a href="{{ path('articlenew') }}">Ajouter  à la liste</a>

{% endblock %}
